.about-body {
    height: 100vh;
    width: 70em;
    background-color: rgba(14, 7, 78, 0.404);
    margin-top: 60px;
    display: flex;
    border-radius: 16px;
}

.about {
    flex: -5%;
    font-family: Work Sans;
    max-width: 40vw;
}

.line {
    flex: -5%;

}

.boundary {
    height: 80vh;
    width: 0.5vw;
    background-color: white;
    margin-top: 40px;
    border-radius: 4px;
}

.contact {
    flex: 4%;

}

.icons {
    display: flex;
    align-items: center;
    margin-left: 2vw;
    color: white;
    font-size: 14px;
}

.word {
    margin-left: 20px;
}

.sticks {
    height: 20px;
    width: 5px;
    background-color: black;
    border-radius: 4px;
    margin-left: 5px;
}

.sticks-1 {
    height: 20px;
    width: 5px;
    background-color: white;
    border-radius: 4px;
    margin-left: 5px;
}

@media (max-width: 500px){
    .about-body{
        width: calc(120% - 60vw);
        
        
    }
    .icons{
        margin-left: 1vw;
    }
   
}