.about-body {
  height: 70vh;
  width: 70em;
  background-color: rgba(14, 7, 78, 0.404);
  margin-top: 60px;
  border-radius: 16px;
  display: block;
}

.about {
  font-family: Work Sans;
  display: flex;
  grid-template-columns: auto auto auto;
  column-gap: 5px;
}

.about-box {
  height: 40vh;
  width: 40vw;
}

.about-box2 {
  height: 38vh;
  width: 40vw;
}
.about-box1 {
  height: 37vh;
  width: 30vw;
}
.box-layout {
  display: flex;
  grid-template-columns: auto auto;
  column-gap: 15px;
}
.about-box,
.about-box1,
.about-box2 {
  position: relative;
  margin-left: 1%;
  margin-right: 1%;
  background-color: rgb(17, 11, 75);
  border-radius: 12px;
}

.about-box::before,
.about-box1::before,
.about-box2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  border: 2px solid transparent;
  background: linear-gradient(
      60deg,
      rgb(73, 1, 73),
      rgb(3, 207, 163),
      rgb(136, 3, 3)
    )
    border-box;
  -webkit-mask: linear-gradient(#ffffff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
.line {
  flex: 1;
}

.icons {
  display: flex;
  align-items: center;
  margin-left: 1vw;
  color: white;
  font-size: 0.8rem;
}

.word {
  margin-left: 20px;
}
.box2-word {
  margin-left: 20px;
}

.style-text{
  font-size: 0.8rem;
  margin-left: 5%;
  color: #fff;
  max-width: 700;
}

@media (max-width: 500px) {
  .about-body {
    width: 120%;
    height: 95vh;
  }

  .about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-box {
    height: 30vh;
    width: 50vw;
  }

  .about-box2 {
    height: 20vh;
    margin-top: 5%;
  }

  .about-box1 {
    margin-top: 5%;
    height: 20vh;
    width: 40vw;
  }

  .icons {
    font-size: 0.6rem;
  }

  .style-text{
    font-size: 0.6rem;
    margin-left: 3%;
  }
}
