.section {
    display: flex;
    background: linear-gradient(60deg, rgb(25, 34, 61), rgb(1, 129, 108) 120%);
}


.section-1 {
    flex: 2.0;
}

.section-2 {
    flex: 4.0;

}

.section-box {
    height: 300px;
    width: 300px;
    border-right: 3px solid black;
    margin-top: 10px;


}

.section-box2 {
    height: 350px;
    width: 90%;
    border-bottom: 3px solid black;
    margin-top: 10px;
    display: flex;
    grid-template-columns: auto auto;
    column-gap: 30px;
}

.image1,
.image2,
.image3 {
    height: 330px;
    width: 100%;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    border: 2px solid rgb(3, 51, 45);
    border-radius: 6px;
}

.image1 {
    background-image: url(./images/Desktop.png);
}

.image2 {
    background-image: url(./images/Weather\ App\ \(Copy\).jpg);
}

.image3 {
    width: 70%;
    background-image: url(./images/webcapture.jpeg);

}