.section{
    margin-inline: calc(150px);
}

.project-mobile{
    height: 350px;
    border-radius: 8px;
    display: flex;
    grid-template-columns: auto auto;
    column-gap: 10px;
    margin-block: calc(30px);
    
}

.project-mobilebox{
    width: 600px;
    border-radius: 8px;
    background: linear-gradient(60deg, rgb(72, 95, 86), rgb(69, 78, 209) 100%);
    object-fit: cover;
}

.project-mobilebox1{
    width: 100%;
    /* border: 2px solid blue; */
}

