.skills-body {
    height: 1000px;
    width: 120%;
    background-color: rgba(14, 7, 78, 0.404);
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(3, [col] auto);
    grid-template-rows: repeat(2, [row] 350px);
    row-gap: 20px;
    column-gap: 20px;
    border-radius: 10px;
}


.skills-box1,
.skills-box2,
.skills-box3,
.skills-box4,
.skills-box5,
.skills-box6 {
    height: 350px;
    width: 200px;
    border: 1px solid black;
    background-color: rgb(17, 11, 75);
    border-radius: 8px;

}

.skills-box1 {

    grid-column: col;
    grid-row: row;

}

.skills-box2 {

    grid-column: col 2;
    grid-row: row;

}

.skills-box3 {

    grid-column: col 3;
    grid-row: row;


}

.skills-box4 {

    grid-column: col;
    grid-row: row 2;

}

.skills-box5 {

    grid-row: row 2;
    grid-column: col 2;

}

.skills-box6 {

    grid-row: row 2;
    grid-column: col 3;

}