.swiper {
    /* width: 50%; */
    height: 100%;
    width: 100%;
    border: 2px solid black;
    border-radius: 8px;
    background: linear-gradient(60deg, rgb(219, 219, 219),  rgb(99, 130, 145), rgb(69, 78, 209) 90%);
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    /* background: #fff; */
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 85%;
    height: 90%;
    object-fit: contain;
    
    
  }
